/yarn
/qBittorrent
/znt
/.DS*
.tmp*
/zed/conversations
/zed/embeddings
/zed/prompts
/jgit
/github-copilot
/flutter
/configstore/*
configstore
/Bitwarden
/JetBrains
/KDE
/Postman
/Vial
/chromium
/configstore
/dconf
configstore
discord
falkon/profiles
go/telemetry/local
google-chrome
gtk-3.0
gtk-4.0
helix_1
htop
kate/externaltools
kde.org
kdeconnect
kdedefaults
lazygit
libaccounts-glib
pamac
plasma-workspace/env
pulse
xsettingsd
QtProject.conf
Trolltech.conf
arkrc
baloofileinformationrc
baloofilerc
bluedevilglobalrc
breezerc
dolphinrc
gtkrc
gtkrc-2.0
gwenviewrc
kactivitymanagerd-statsrc
kactivitymanagerdrc
katerc
katevirc
kcminputrc
kconf_updaterc
kded5rc
kded6rc
kdeglobals
kgammarc
kglobalshortcutsrc
kiorc
knfsshare
konsolerc
konsolesshconfig
krunnerrc
ktimezonedrc
kwalletmanagerrc
kwalletrc
kwin_dialogsrc
kwinoutputconfig.json
kwinrc
kwinrulesrc
kxkbrc
manjaro-hello.json
mimeapps.list
okularrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmanotifyrc
plasmaparc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
spectaclerc
systemmonitorrc
user-dirs.dirs
user-dirs.locale
xdg-desktop-portal-kderc
