/yarn
/qBittorrent
/znt
/.DS*
/Bitwarden
/JetBrains
/KDE
/Postman
/Vial
/chromium
/google-chrome
/discord
QtProject.conf
Trolltech.conf
arkrc
baloofileinformationrc
baloofilerc
bluedevilglobalrc
breezerc
dconf/
dolphinrc
falkon/
go/
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
gwenviewrc
helix_1/
htop/
kactivitymanagerd-statsrc
kactivitymanagerdrc
kate/
katerc
katevirc
kcminputrc
kconf_updaterc
kde.org/
kdeconnect/
kded5rc
kded6rc
kdedefaults/
kdeglobals
kgammarc
kglobalshortcutsrc
kiorc
knfsshare
konsolerc
konsolesshconfig
krunnerrc
ktimezonedrc
kwalletmanagerrc
kwalletrc
kwin_dialogsrc
kwinoutputconfig.json
kwinrc
kwinrulesrc
kxkbrc
lazygit/
libaccounts-glib/
manjaro-hello.json
mimeapps.list
okularrc
pamac/
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-workspace/
plasmanotifyrc
plasmaparc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
pulse/
spectaclerc
systemmonitorrc
user-dirs.dirs
user-dirs.locale
xdg-desktop-portal-kderc
xsettingsd/
zed/
